:root {
  --colorTextPrimary: #212121;
  --colorSecondText: #757575;
  --accenTextColor: #2196f3;
  --backgroundDarkColorText: #2f303a;
  --backgroundColorText: #ffffff;
  --colorStroke: #ececec;
  --logoColor: #000000;
  --colorStrokeHeader: #f5f4fa;
  --colorTextInFooter: #ffffff99;
  /* шрифти */
  --textPrimary: "Roboto", serif;
  --textLogo: "Raleway", serif;
}
body {
  font-family: var(--textPrimary);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextPrimary);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
/* лого */

.logo-contrast {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--accenTextColor);

  line-height: 1.2;
}
.logo {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--logoColor);

  line-height: 1.2;
}
.logo-white {
  color: var(--backgroundColorText);
}
/* nav */
.header {
  padding: 25px 0px 25px 0px;
  border-bottom: 1px solid var(--colorStroke);
}
.header-container {
  display: flex;
  gap: 93px;
  align-items: center;
}
.nav {
  flex-grow: 2;
}
.nav-list {
  display: flex;
  gap: 50px;
}
.nav-link {
  font-size: inherit;

  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--accenTextColor);
}
.contact-list {
  display: flex;
  gap: 50px;
}
.contact-link {
  font-weight: 500;
  font-size: inherit;
  color: var(--colorSecondText);

  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover {
  color: var(--accenTextColor);
}
/* hero */
.hero {
  background-color: var(--backgroundDarkColorText);
  padding: 200px 0px 200px 0px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.hero-title {
  display: flex;
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  color: var(--backgroundColorText);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  color: var(--backgroundColorText);
  font-size: 16px;
  font-weight: 700;
  border: none;
  background-color: var(--accenTextColor);
  padding: 10px 32px;
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 3px solid transparent;
}
.hero-button:hover {
  color: var(--accenTextColor);
  border: 3px solid var(--accenTextColor);
  background-color: var(--backgroundColorText);
  cursor: pointer;
}
/* advantages */
.advantages {
  padding: 95px 0px 95px 0px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.advantages-item {
  flex-basis: calc((100% - 90px) / 4);
}
.advantages-meta {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.advantages-title::before {
  content: "";
  display: block;
  background-color: var(--colorStrokeHeader);
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.photo-antenna::before {
  background-image: url(../img/antenna.svg);
}
.photo-clock::before {
  background-image: url(../img/clock.svg);
}

.photo-diagram::before {
  background-image: url(../img/diagram.svg);
}

.photo-astronaut::before {
  background-image: url(../img/astronaut.svg);
}
.advantages-title {
  font-weight: 700;
  line-height: 1.14;
}
.advantages-text {
  color: var(--colorSecondText);
}
/* work */
.work {
  padding-bottom: 95px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.work-item {
  flex-basis: calc((100% - 60px) / 4);
}
/* team */
.team {
  background-color: var(--colorStrokeHeader);
  padding: 95px 0px 95px 0px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
}
.teammate {
  background: var(--backgroundColorText);
  border-radius: 4px;
}
.teammate-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px 0;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.teammate-role {
  font-size: 16px;
  color: var(--colorSecondText);
}
/* footer */
.footer {
  background-color: var(--backgroundDarkColorText);
  padding: 60px 0px 60px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.address-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.address {
  font-style: normal;
  color: var(--backgroundColorText);
}
.address-link {
  font-style: normal;
  color: var(--colorTextInFooter);
  display: flex;
  flex-direction: column;
}
/* Portfolio */
.portfolio {
  padding: 95px 0px 95px 0px;
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}
.filter-button {
  font-size: 16;
  border: none;
  background-color: var(--colorStrokeHeader);
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: inherit;
}
.filter-button:hover {
  color: var(--backgroundColorText);
  background-color: var(--accenTextColor);
  cursor: pointer;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  flex-basis: calc((100% - 60px) / 3);
}
.project {
  outline: 1px solid var(--colorStroke);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 24px;
}
.project-category {
  font-size: 16px;
  color: var(--colorSecondText);
  line-height: 1.8;
}
