:root {
  --colorTextPrimary: #212121;
  --colorSecontText: #757575;
  --accenTextColor: #2196f3;
  --backgroundDarkColorText: #2f303a;
  --backgroundColorText: #ffffff;
  --colorStrokeArtical: #eeeeee;
  --logoColor: #0000;
  --secontBackgroundColorText: #f5f4fa;
  --colorStrokeHeader: #f5f4fa;
}
