:root {
  --colorTextPrimary: #212121;
  --colorSecondText: #757575;
  --accenTextColor: #2196f3;
  --backgroundDarkColorText: #2f303a;
  --backgroundColorText: #ffffff;
  --colorStroke: #ececec;
  --logoColor: #000000;
  --colorStrokeHeader: #f5f4fa;
  --colorTextInFooter: #ffffff99;
  /* шрифти */
  --textPrimary: "Roboto", serif;
  --textLogo: "Raleway", serif;
}
body {
  font-family: var(--textPrimary);
  font-weight: 400;
  font-size: 14px;
  color: var(--colorTextPrimary);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.container {
  max-width: 1200px;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
/* лого */

.logo-contrast {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--accenTextColor);

  line-height: 1.2;
}
.logo {
  font-family: var(--textLogo);
  font-weight: 700;
  font-size: 26px;
  color: var(--logoColor);

  line-height: 1.2;
}
.logo-white {
  color: var(--backgroundColorText);
}
/* nav */
.header {
  padding: 25px 0px 25px 0px;
}
.nav-link {
  font-size: inherit;

  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--accenTextColor);
}
.contact-link {
  font-weight: 500;
  font-size: inherit;
  color: var(--colorSecondText);

  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-link:hover {
  color: var(--accenTextColor);
}
/* hero */
.hero {
  background-color: var(--backgroundDarkColorText);
  padding: 200px 0px 200px 0px;
}
.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: var(--backgroundColorText);
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-button {
  color: var(--backgroundColorText);
  font-size: 16;
  border: none;
  background-color: var(--accenTextColor);
  padding: 10px 32px;
  border-radius: 4px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-button:hover {
  color: var(--accenTextColor);
  border: 3px solid var(--accenTextColor);
  background-color: var(--backgroundColorText);
  cursor: pointer;
}
/* advantages */
.advantages {
  padding: 95px 0px 95px 0px;
}
.advantages-title {
  font-weight: 700;
  line-height: 1.14;
}
.advantages-text {
  color: var(--colorSecondText);
}
/* work */
.work {
  padding-bottom: 95px;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
/* team */
.team {
  background-color: var(--colorStrokeHeader);
  padding: 95px 0px 95px 0px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.teammate-role {
  font-size: 16px;
  color: var(--colorSecondText);
}
/* footer */
.footer {
  background-color: var(--backgroundDarkColorText);
  padding: 60px 0px 60px 0px;
}
.address {
  font-style: normal;
  color: var(--backgroundColorText);
}
.address-link {
  font-style: normal;
  color: var(--colorTextInFooter);
}
/* Portfolio */
.Portfolio {
  padding: 95px 0px 95px 0px;
}
.filter-button {
  font-size: 16;
  border: none;
  background-color: var(--colorStrokeHeader);
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.6;
  letter-spacing: inherit;
}
.filter-button:hover {
  color: var(--backgroundColorText);
  background-color: var(--accenTextColor);
  cursor: pointer;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-category {
  font-size: 16px;
  color: var(--colorSecondText);
  line-height: 1.8;
}
